name: Matrix Test

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master
      - dev

concurrency:
  group: ${{ github.sha }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    name: Golang ${{ matrix.go }}
    strategy:
      matrix:
        go:
          - "1.25"
          - "1.18"

    steps:
      - uses: actions/checkout@v5
      - name: Set up Golang
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
      - name: Test option
        run: cd option && go test -v
      - name: Test result
        run: cd result && go test -v